@import 'loading-bar.scss';

body {
	padding-top: 70px;
}

.splash {
	display: none;

	&[ng-cloak] {
		display: block;
	}
}

.form-half {
	div {
		input {
			max-width: 500px;
		}
	}
}

.navbar-brand {
	margin-top: -8px;
}

.ngdialog-large {
	.ngdialog-content {
		width: 650px !important;
	}
}

#chat-area {
	height: 400px;
	overflow: scroll;
}

growl-notifications {
	position: fixed;
	top: 40px;
	right: 50px;
	z-index: 1000;
}

growl-notifications growl-notification {
	background: rgba(0,0,0,0.6);
	color: white;
	padding: 15px 30px;
	width: 300px;
	display: block;
	border-radius: 15px;
	margin-top: 15px;
}

.notification-important {
	background: rgba(90,0,0,0.6);
}

growl-notification.fading.ng-move{
	opacity: 0;
	-webkit-transition: 0.5s linear all; /* Safari/Chrome */
	transition: 0.5s linear all; /* All other modern browsers and IE10+ */
}

growl-notification.fading.ng-move.ng-move-active {
	opacity: 1;
}
growl-notification.fading.ng-leave {
	opacity: 1;
	-webkit-transition: 0.5s linear all; /* Safari/Chrome */
	transition: 0.5s linear all; /* All other modern browsers and IE10+ */
}

growl-notification.fading.ng-leave.ng-leave-active {
	opacity: 0;
}

.navbar-collapse.in {
    overflow-y: visible;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}