<h1>助教管理頁面</h1>
<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">操作選項</h3>
			</div>
			<ul class="list-group">
				<li class="list-group-item"><a ui-sref="admin.init">初始化資料</a></li>
				<li class="list-group-item"><a ui-sref="admin.userlist">管理帳號資料</a></li>
				<li class="list-group-item"><a ui-sref="admin.feedback">管理評分內容</a></li>
				<li class="list-group-item"><a ng-href="/api/admin/exportXlsx?token={{ token }}">匯出成績 Excel</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-9">
		<div ui-view></div>
	</div>
</div>
