<div class="col-md-4 col-md-offset-4">
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title"><strong><i class="fa fa-sign-in"></i>&nbsp;填寫額外資料</strong></h3></div>
		<div class="panel-body">
			<form role="form" name="registerForm" ng-submit="submit(data)" novalidate>
				<div class="form-group">
					<label for="student-id">學號：</label>
					<input type="text" class="form-control" ng-model="data.studentId" id="student-id" placeholder="Please enter your student ID number...">
				</div>
				<div class="form-group">
					<label for="group">組別：</label>
					<select id="group" class="form-control" ng-model="data.group">
						<option ng-repeat="g in groups" ng-value="g._id">第 {{ g.groupNum }} 組</option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary">送出</button>&nbsp;&nbsp;&nbsp;<span class="text-danger" ng-if="error">{{ error }}</span>
			</form>
		</div>
	</div>
</div>