<div class="col-md-4 col-md-offset-4">
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title"><strong><i class="fa fa-sign-in"></i>&nbsp;請登入</strong></h3></div>
		<div class="panel-body">
			<form role="form" name="loginForm" ng-submit="login(credentials)" novalidate>
				<div class="form-group">
					<label>身份：</label>
					<label><input type="radio" ng-model="credentials.type" value="1"> 同學</label> <label><input type="radio" ng-model="credentials.type" value="2"> 助教</label>
				</div>
				<div class="form-group">
					<label for="username">使用者名稱：</label>
					<input type="text" class="form-control" ng-model="credentials.username" id="username" placeholder="Please enter user name...">
				</div>
				<div class="form-group">
					<label for="password">密碼：</label>
					<input type="password" class="form-control" ng-model="credentials.password" id="password" placeholder="Please enter your password...">
				</div>
				<button type="submit" class="btn btn-primary">送出</button>&nbsp;&nbsp;<a class="btn btn-warning" ui-sref="register">註冊</a>&nbsp;<span class="text-danger" ng-if="error">{{ error }}</span>
			</form>
		</div>
	</div>
</div>