<h3>排行榜</h3>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">肢體動作</h3>
			</div>
			<div class="panel-body">
				<p ng-if="leaderboard.a.length == 0">
					<em>糟糕還沒有資料欸 &gt;////&lt;</em>
				</p>
				<div ng-repeat="l in leaderboard.a">
					<h1 ng-if="$index == 0">第一名</h1>
					<h3 ng-if="$index == 1">第二名</h3>
					<h4 ng-if="$index == 2">第三名</h4>
					<p><big>第 {{ l.groupNum }} 組：{{ l.topic }}</big></p>
					<span ng-repeat="u in l.users">
						<span ng-if="u.fbid"><img ng-src="https://graph.facebook.com/{{ u.fbid }}/picture" class="img-circle">&nbsp;&nbsp;&nbsp;</span>{{ u.name }}<br>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">簡報用心</h3>
			</div>
			<div class="panel-body">
				<p ng-if="leaderboard.b.length == 0">
					<em>糟糕還沒有資料欸 &gt;////&lt;</em>
				</p>
				<div ng-repeat="l in leaderboard.b">
					<h1 ng-if="$index == 0">第一名</h1>
					<h3 ng-if="$index == 1">第二名</h3>
					<h4 ng-if="$index == 2">第三名</h4>
					<p><big>第 {{ l.groupNum }} 組：{{ l.topic }}</big></p>
					<span ng-repeat="u in l.users">
						<span ng-if="u.fbid"><img ng-src="https://graph.facebook.com/{{ u.fbid }}/picture" class="img-circle">&nbsp;&nbsp;&nbsp;</span>{{ u.name }}<br>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">超有梗！！</h3>
			</div>
			<div class="panel-body">
				<p ng-if="leaderboard.c.length == 0">
					<em>糟糕還沒有資料欸 &gt;////&lt;</em>
				</p>
				<div ng-repeat="l in leaderboard.c">
					<h1 ng-if="$index == 0">第一名</h1>
					<h3 ng-if="$index == 1">第二名</h3>
					<h4 ng-if="$index == 2">第三名</h4>
					<p><big>第 {{ l.groupNum }} 組：{{ l.topic }}</big></p>
					<span ng-repeat="u in l.users">
						<span ng-if="u.fbid"><img ng-src="https://graph.facebook.com/{{ u.fbid }}/picture" class="img-circle">&nbsp;&nbsp;&nbsp;</span>{{ u.name }}<br>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>