<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">更改密碼</h3>
			</div>
			<div class="panel-body">
				<form ng-submit="changePassword(pwData)" ng-init="pwData = {}">
					<p><span class="text-warning"><em>使用 Facebook 註冊的帳號，將無法變更密碼</em></span></p>
					<div class="form-group">
						<label for="current-password">現在的密碼：</label>
						<input type="password" class="form-control" id="current-password" ng-model="pwData.current" placeholder="Enter current password">
					</div>
					<div class="form-group">
						<label for="new-password">新的密碼：</label>
						<input type="password" class="form-control" id="new-password" ng-model="pwData.n" placeholder="Enter new password">
					</div>
					<div class="form-group">
						<label for="repeat-password">重複輸入密碼：</label>
						<input type="password" class="form-control" id="repeat-password" ng-model="pwData.nRepeat" placeholder="Repeat new password">
					</div>
					<button type="submit" class="btn btn-primary">確定更改</button>&nbsp;&nbsp;<span class="text-danger">{{ passwordMessage }}</span>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">報告主題</h3>
			</div>
			<div class="panel-body">
				<form ng-submit="changeTopic(topic)" ng-if="currentUser.group.needsFeedback">
					<p><span class="text-warning"><em>修改口頭報告的主題。</em></span></p>
					<div class="form-group">
						<label for="new-topic">修改報告主題：</label>
						<input type="text" class="form-control" id="new-topic" ng-model="topic" placeholder="Enter new topic">
					</div>
					<button type="submit" class="btn btn-primary">確定更改</button>&nbsp;&nbsp;<span class="text-danger">{{ topicMessage }}</span>
				</form>
				<div ng-if="!currentUser.group.needsFeedback">
					<p><span class="text-warning"><em>沒有要上台報告，所以不須修改主題。</em></span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">連接 Facebook 帳戶</h3>
			</div>
			<div class="panel-body">
				<div ng-if="!currentUser.fbid">
					<p><span class="text-warning"><em>以後便可以用 Facebook 登入！</em></span></p>
					<p><a class="btn btn-primary" ng-href="https://www.facebook.com/dialog/oauth?client_id=1582033655448135&scope=email&redirect_uri=http://{{ host }}/api/user/connect?token={{ Session.token }}">連接 Facebook</a></p>
				</div>
				<div ng-if="currentUser.fbid">
					<p><span class="text-warning"><em>已經連接 Facebook 了！</em></span></p>
				</div>
			</div>
		</div>
	</div>
</div>