<h1>Hello, {{ currentUser.name }}</h1>
<ul class="nav nav-pills">
	<li ng-class="isActive('/student/feedback/mine') ? 'active' : ''"><a ui-sref="student.feedback.mine">我收到的評分</a></li>
	<li ng-class="isActive('/student/feedback/give') ? 'active' : ''"><a ui-sref="student.feedback.give">評分其他組別</a></li>
	<li ng-class="isActive('/student/leaderboard') ? 'active' : ''"><a ui-sref="student.leaderboard">熱門排行榜</a></li>
	<li ng-class="isActive('/student/settings') ? 'active' : ''"><a ui-sref="student.settings">帳號設定</a></li>
</ul>
<hr>
<div ui-view></div>